<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
            background-color: red;
    }
        body{
            background-color: aqua;
            text-decoration: wavy;
            text-align: center;
        }
        h2{
      background-color: darkred;
        }
        h3{
            background-color: darkgray;
        }
        h4{
            background-color: deeppink;
        }

    </style>
    
    
</head>
<body>
   <h1>This is My first Python project  </h1>
   <p>
    <h2> Hii ,its me Lakshmi swamy. Iam  final year student at GNDEC,Bidar </h2>
    </p>
<h3> Maheshwari</h3>
<h4>Lakshmi swamy</h4>
<h5>M Poornima</h5>
</body>
</html>